{% extends  "antares/foundation::layouts.antares.main"   %}   
{% block app_content %}
    <div class="app-content page-forms page-forms--hor page-single-form acl-page">    
    {% endblock %}     
    {% block main_content %}        
        <section class="main-content" data-preload>
            {% include 'antares/foundation::components.messages'  %}                                             
            <div class="grid-container grid-container--1col grid-container--no-padd grid-container--footer">
                {% include 'antares/foundation::layouts.antares.partials._left_panel' with {panes: panes} %}
                <div class="grid-col grid-col--container">               
                    {% block content %}
                        {% include 'antares/acl::partial._acl_template' %}
                        
                        <section class="acl-container">
                            {{ app('form').open({'url':handles('antares::acl/acl'), 'method':'POST','class':'resource-actions form--hor'})|raw }}                    

                            <div class="acl-container__header">                                
                                <div id="load-configuration" >
                                    <select name="group" data-url="{{ handles('antares::acl/acl') }}" data-flag-select--search  data-title="{{ trans('antares/acl::messages.are_you_sure') }}" data-description="{{ trans('antares/acl::messages.changing_group') }}">
                                        {% for group in groups %}          
                                            <option {{  id==group.id?'selected="selected"':'' }}value="{{ group.id }}" >{{ group.full_name|capitalize }}</option>
                                        {% endfor %}      
                                    </select>
                                </div>
                            </div>
                            <div class="acl-container__body">
                                <div id="acl" class="acl" data-url-acl="{{ handles('antares::acl/tree/'~id) }}">
                                    <ul>
                                        <tree-item {{ ':model="model" v-for="model in tree.children"' }}></tree-item>
                                    </ul>
                                </div>
                            </div>
                            <div class="app-content__footer">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn--md btn--primary mdl-button mdl-js-button mdl-js-ripple-effect" >
                                        {{ trans('antares/foundation::label.save_changes') }}
                                    </button>
                                    <a href="{{ handles('antares::acl/index/roles') }}" class="btn btn--md btn--default mdl-button mdl-js-button" >
                                        {{ trans('antares/foundation::label.cancel') }}
                                    </a>
                                </div>
                            </div>

                            {{ app('form').close()|raw }}
                        </section>
                    {% endblock %}
                </div>     
            </div>
        </section>                    
    {% endblock %} 
